#list-parcel {
  background-color: #eeeeee;

  min-height: 100vh;
}

.table-container {
  padding: 16px;
  overflow-x: auto;
}

.parcel-table {
  width: 100%;
  border-collapse: collapse;
  margin: 16px 0;
}

.parcel-table th,
.parcel-table td {
  border: 1px solid #d6b578;
  padding: 8px;
  text-align: left;
}

.parcel-table th {
  background-color: #ffa600;
  color: black;
}

.parcel-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.bg-red-500 {
  background-color: #f56565;
  color: white;
  border: none;
  cursor: pointer;
}

.bg-red-500:hover {
  background-color: #c53030;
}
